__pycache__/
*.pyc
.ipynb_checkpoints/
data/srt_kor/*
!data/srt_kor/.gitkeep
data/srt_eng/*
!data/srt_eng/.gitkeep
data/allganize/*
!data/allganize/.gitkeep
data/vectara_ragbench/*
!data/vectara_ragbench/.gitkeep
venv/
results/*.json
.venv311/
.venv-eval/
data/processed/
*.log
.env
.pytest_cache/
*.egg-info/
