__pycache__/
*.pyc
.ipynb_checkpoints/
data/srt_kor/*
!data/srt_kor/.gitkeep
data/srt_eng/*
!data/srt_eng/.gitkeep
data/docx_kor/*
!data/docx_kor/.gitkeep
data/docx_eng/*
!data/docx_eng/.gitkeep
data/longbench/*
!data/longbench/.gitkeep
data/pdf_kor/*
!data/pdf_kor/.gitkeep
data/pdf_eng/*
!data/pdf_eng/.gitkeep
venv/
results/*.json
.venv311/
*.log
.env
.pytest_cache/
*.egg-info/
